{% extends "base.html" %}
{% block title %}SRIE > TP1 - Reconnaissance / Footprint > Recon-ng{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center">TP1 - Reconnaissance / Footprint > Recon-ng</h2>
    <div class="container p-5 mt-1 mb-3">
        <p class="lead">
            Recon-ng is a web-based open-source reconnaissance tool (OSINT) written in Python, often paired
            with the Kali Linux penetration distribution. The tool reduces time spent harvesting information
            from open resources and consists of an extensive range of modules and database interaction.
        </p>
    </div>

    <hr>
    <!-- Installation section -->
    <h3 class="text-center">Installation</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">The tool can be installed through the command line :</p>
        <code class="p-5">{% raw %}sudo apt install recon-ng{% endraw %}</code>
    </div>
    <hr>

    <h3 class="text-center">Run</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">You can only run Recon-ng from the terminal</p>
        <code class="p-5">{% raw %}recon-ng{% endraw %}</code>
    </div>
    <hr>

    <h3 class="text-center">How to use</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">The tool can be installed through the command line :</p>
        <code class="p-5">{% raw %}sudo apt install recon-ng{% endraw %}</code>
    </div>
    <hr>
</div>
{% endblock %}