{% extends "base.html" %}
{% block title %}SRIE > TP1 - Reconnaissance / Footprint > Recon-ng{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center">TP1 - Reconnaissance / Footprint > Recon-ng</h2>
    <div class="container p-5 mt-1 mb-3">
        <p class="lead">
            Recon-ng is a web-based open-source reconnaissance tool (OSINT) written in Python, often paired
            with the Kali Linux penetration distribution. The tool reduces time spent harvesting information
            from open resources and consists of an extensive range of modules and database interaction.
        </p>
    </div>

    <hr>
    <!-- Installation section -->
    <h3 class="text-center">Installation</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">The tool can be installed through the command line :</p>
        <code class="p-5">{% raw %}sudo apt install recon-ng{% endraw %}</code>
    </div>
    <hr>

    <h3 class="text-center">Run</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">You can only run Recon-ng from the terminal</p>
        <code class="p-5">{% raw %}recon-ng{% endraw %}</code>
    </div>
    <hr>

    <h3 class="text-center">Quick start</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">The tool can be installed through the command line :</p>
        <code class="p-5">{% raw %}sudo apt install recon-ng{% endraw %}</code>
        <p class="lead"><br>From the console, it is easy to get help by typing help after launching the framework.</p>
        <p class="lead"><br>Recon-ng begins with an empty framework. You will need to install modules and packages that
            are
            useful for you.</p>
    </div>
    <hr>
    <h3 class="text-center">Create a workspace</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">You will first need to create a workspace by typing :</p>
        <code class="p-5">{% raw %}workspaces create name_of_the_workspace{% endraw %}</code>
        <p class="lead"><br>The following command will opens directly to that workspace</p>
        <code class="p-5">{% raw %}recon-ng -w name_of_the_workspace{% endraw %}</code>
    </div>
    <hr>
    <h3 class="text-center">Modules</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">You can get help and a list of all the modules by typing : </p>
        <code class="p-5">{% raw %}marketplace help{% endraw %}</code>
        <code class="p-5">{% raw %}marketplace search{% endraw %}</code>
        <p class="lead"><br>You can install modules by typing :</p>
        <code class="p-5">{% raw %}marketplace install module_name{% endraw %}</code>
        <p class="lead"><br>Then, you will need to load the module :</p>
        <code class="p-5">{% raw %}modules load module_name{% endraw %}</code>
        <p class="lead"><br>Finally, you can run the module :</p>
        <code class="p-5">{% raw %}run{% endraw %}</code>
    </div>
    <hr>
</div>
{% endblock %}