

{% extends "base.html" %}
{% block title %}SRIE > TP2 - Scanning Networks > See ports of a computer{% endblock %}
{% block content %}

<div class="container p-5 my-5">
    <h2 class="text-center">TP2 - Scanning Networks > Scan vulnerabilities</h2>
    <div class="container p-5 mt-1 mb-3 ">
        <p class="lead">
        Nessus serves as a powerful tool for conducting remote computer vulnerability scans. By utilizing Nessus, you can comprehensively assess the security posture of a remote system, detecting and highlighting potential vulnerabilities and weaknesses that may pose a risk to its integrity or confidentiality.</p>

        <form method="post" action="">
        {{ content["button"].csrf_token }}
            <button type="submit" class="btn btn-primary mt-2">Start the process</button>
        </form>
    </div>
    <div class="container p-5 mt-1 mb-3 ">
        <p class="lead">
            You can now access Nessus by this <a href = "https://localhost:8834">link</a> and start a new scan.
        </p>
    </div>
    <hr>
{% endblock %}
