<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > TP3 - Enumeration{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">SRIE > TP3 - Enumeration</h2>
        <div class="container p-5 my-5">
            <!-- Description -->
            <p class="lead">Once you have identified potential vulnerabilities in the target system, the next step is
                enumeration. You will learn how to extract valuable information, such as user accounts, system
                configurations, and network resources, to gain a deeper understanding of the target
                environment. Enumeration is a crucial step in identifying potential avenues for gaining
                unauthorized access.
            </p>
        </div>

        <!-- Useful tools title -->
        <h2 class="mt-5 text-center">Useful tools used in this phase</h2>

        <div class="container p-5 my-5">
            <p class="lead">
                Below is a list of tools that can be used for this pentesting phase:
            </p>

            <ol class="list-group">
                <li class="list-group-item">
                    <h5><a href="{{url_for('blueprint.srie_tp3_banner_grabbing')}}"
                            class="list-group-item-action">Banner Grabbing</a></h5>
                    <p class="lead">Banner grabbing is a method used by
                        attackers and security
                        teams to obtain information about network computer systems and services running on open
                        ports. A banner is a text displayed by a host that provides details such as the type and
                        version of software running on the system or server. The screen displays the software
                        version number on the network server and other system information, giving cybercriminals an
                        advantage in cyber attacks. Banner grabbing considers collecting software banner information
                        such as name and version.
                    </p>
                </li>
                <li class="list-group-item">
                    <h5><a href="{{url_for('blueprint.srie_tp3_os_reco')}}" class="list-group-item-action">OS
                            Recognition</a></h5>
                    <p class="lead">
                        Detect the operating system of a remote computer.
                    </p>
                </li>
                <li class="list-group-item">
                    <h5><a href="{{url_for('blueprint.srie_tp3_ldap')}}" class="list-group-item-action">LDAP</a></h5>
                    <p class="lead">
                        LDAP (Lightweight Directory Access Protocol) injection is a type of security exploit that is
                        used to compromise the authentication process used by some websites. Websites that construct
                        LDAP statements from user data are vulnerable to this type of attack.
                    </p>
                </li>
            </ol>
        </div>

</div>
{% endblock %}