<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}SRIE > TP4 - Gaining Access{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">SRIE > TP4 - Gaining Access</h2>
        <div class="container p-5 my-5">
            <!-- Description -->
            <p class="lead">
                Once you have done all the previous steps, you will need to gain access through the remote system. This
                step will introduce you to several methods to do so.
            </p>
        </div>

        <!-- Useful tools title -->
        <h2 class="mt-5 text-center">Useful tools used in this phase</h2>

        <div class="container p-5 my-5">
            <p class="lead">
                Below is a list of tools that can be used for this pentesting phase:
            </p>

            <ol class="list-group">
                <li class="list-group-item">
                    <h5><a href="{{url_for('blueprint.srie_tp4_hydra')}}" class="list-group-item-action">Hydra</a></h5>
                    <p class="lead">
                        Hydra is a login cracker which supports numerous protocols to attack. It is easy to use since
                        new modules are easy to add. This tool can also be used to show you how easy it is to gain
                        access in your own machine.
                    </p>
                </li>
                <li class="list-group-item">
                    <h5><a href="{{url_for('blueprint.srie_tp4_VSFTPD')}}" class="list-group-item-action">Exploiting
                            VSFTPD backdoor manually</a></h5>
                </li>
                <li class="list-group-item">
                    <h5><a href="{{url_for('blueprint.srie_tp4_metasploit')}}" class="list-group-item-action">Metasploit
                            framework</a></h5>
                    <p class="lead">
                        Matasploit is a framework that lots of cybercriminals use. As it is an open-source one, it can
                        be easily customized to response your own need.
                    </p>
                </li>
            </ol>
        </div>

</div>
{% endblock %}